<%- include('header') %>
<%- include('sticky-menu') %>

<% if (messages.success) { %>
<div class="alert alert-success" role="alert">
  <%= messages.success %>
</div>
<% } %>
<% if (messages.error) { %>
<div class="alert alert-danger" role="alert">
  <%= messages.error %>
</div>
<% } %>

<h1>Admin home</h1>

<div class="p-4">
  <form class="card col-12 col-md-9 align-center" action="/admin" method="POST">
    <h4 class="card-header">Cerca una richiesta</h4>
    <div class="card-body col-12">
      <% if(status) { %>
      <label class="form-label" for="status">Stato</label><br />
      <select class="form-select form-group form-control form-control-lg mb-3 col-12" id="status" name="status">
        <% for (let i = 1; i <= Object.keys(status).length; i++) { %>
        <option value="<%= i %>"><%= status[i] %></option>
        <% } %>
      </select>
      <% } %>
      <div class="col form-group mb-3">
        <label class="form-label" for="location">Città</label><br />
        <input class="form-control form-control-lg col-12" type="text" id="location" name="location" />
      </div>
      <div class="col form-group mb-4">
        <label class="form-label" for="address">Indirizzo</label>
        <input class="form-control form-control-lg col-12" type="text" id="address" name="address" />
      </div>
      <button class="btn btn-primary col-12" type="submit" id="filter_requests">Cerca</button>
    </div>
  </form>
</div>

<% if (requests) { %>
<div class="row d-flex p-4">
  <% requests.forEach(function(request) { %>
  <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="card">
      <b class="card-header">Stato: <%= status[request.status] %></b>
      <div class="card-body">
        <h5 class="card-title"><a href=<%="/profile/" + request.userID %>><%= request.last_name + " " + request.first_name %></a></h5>
        <p class="card-text mt-3"><%= request.content %></p>
        <div class="row align-items-end">
          <p class="card-text col-6 col-md-12 mb-3">Città: <%= request.location %></p>
          <p class="card-text col-6 col-md-12 mb-3">Indirizzo: <%= request.address %></p>
          <div class="w-100"></div>
          <p class="card-text col-6 col-md-12 mb-3">Coordinate: <%= request.latitude + " " + request.longitude %></p>
          <p class="card-text col-6 col-md-12 mb-3">Data: <%= request.date %></p>
          <% if(request.status == 1) { %>
          <div class="w-100"></div>
          <form class="col-12 col-md-6" method="POST" enctype="application/x-www-form-urlencoded" action=<%="/admin/" +
                              request.requestID + "?_method=PUT" %>>
            <button type="submit" id="accept_request" class="col-12 btn btn-success">Accetta richiesta</button>
          </form>
          <form class="col-12 col-md-6" method="POST" enctype="application/x-www-form-urlencoded" action=<%="/admin/" +
                              request.requestID + "?_method=DELETE" %>>
            <button type="submit" id="reject_request" class="col-12 btn btn-danger">Rifiuta richiesta</button>
          </form>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <% }); %>
</div>
<% } %>