<%- include('header') %>
<%- include('sticky-menu') %>

<h1>Le mie richieste</h1>

<% if (messages.success) { %>
<div class="alert alert-success" role="alert">
  <%= messages.success %>
</div>
<% } %>
<% if (messages.error) { %>
<div class="alert alert-danger" role="alert">
  <%= messages.error %>
</div>
<% } %>

<% if (requests) { %>
<div class="row d-flex p-4">
  <% requests.forEach(function(request) { %>
  <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="card">
      <b class="card-header">Stato: <%= status[request.status] %></b>
      <div class="card-body">
        <p class="card-text"><%= request.content %></p>
        <div class="row align-items-end">
          <p class="card-text col-6 col-md-12 mb-3">Città: <%= request.location %></p>
          <p class="card-text col-6 col-md-12 mb-3">Indirizzo: <%= request.address %></p>
          <div class="w-100"></div>
          <p class="card-text col-12 col-md-12">Data: <%= request.date %></p>
          <% if (request.status != 4) { %>
          <div class="w-100"></div>
          <form action=<%="/requests/" + request.ID + "?_method=DELETE" %> method="POST">
            <button type="submit" id="cancel_request" class="col-12 btn btn-danger">Annulla richiesta</a>
          </form>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <% }); %>
</div>
<% } %>