<%- include('sticky-menu') %>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <h1>Le mie richieste</h1>
  <% if (messages.success) { %>
    <div class="alert alert-success" role="alert">
      <%= messages.success %>
    </div>
    <% } %>
      <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert">
          <%= messages.error %>
        </div>
        <% } %>
          <% if(requests) { %>
            <% requests.forEach(function(request) { %>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <p>
                    <%= request.content %>
                  </p>
                  <p>
                    <%= request.location %>
                  </p>
                  <p>
                    <%= request.address %>
                  </p>
                  <p>
                    <%= request.status %>
                  </p>
                  <p>
                    <%= request.date %>
                  </p>
                  <!-- <a class="btn btn-success">Accetta richiesta</a> -->
                  <% if (request.status !=4) { %>
                    <form action=<%="/requests/" + request.ID + "?_method=DELETE" %> method="POST">
                      <button type="submit" id="cancel_request" class="btn btn-danger">Annulla richiesta</a>
                    </form>
                    <% } %>
                </div>
              </div>
          <% }); %>
      <% } %>